<section class = "forms text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <hi class = "h3 mb-3 font-weight-normal"> Please Sign Up </h1>
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Username" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
    <button class = "btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
<% end %>

    <%= render "devise/shared/links" %>
  </section>
