<div class="d-flex justify-content-center text-center">
  <p><% @all_spaces.each do |r| %> </p>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          </div>
          <div class="card-body">
            <%= image_tag(r.pic, class: "card-img-top" ) if r.pic.attached? %>
            <h3 class="card-title pricing-card-title"><b><%=r.types_of_spaces%></b> <small class="text-muted"></small></h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li><b><%=r.coworkingspace.name %></b></li>
              <li><b><%=r.coworkingspace.address %></b></li>
              <li>High Speed Internet</li>
              <li>Quiet environment</li>
              <li>Technical Support Available</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary"><%= button_to "Book", "/coworkingspaces/#{r.coworkingspace.id}/reservations/new", :method => "get", params: { :types_of_spaces => r.types_of_spaces}, class: "btn btn-lg btn-block primary"  %></button>
          </div>
        </div>
    <%end%>
</div>
