<a class = "top" <%= form_for @coworkingspace do |f| %>
      <%= image_tag @coworkingspace.pic, class: "my_pic" %>
      <div class = "post_text"> <b> Edit Coworking Space</b>
      <div> Name: <%= f.text_field :name %> </div>
      <div> Image: <%= f.file_field :pic %> </div>
      <div> Address: <%= f.text_area :address %> </div>
      <div> City: <%= f.text_field :city %> </div>
      <div> Amount of Spaces: <%= f.text_field :spaces_qty %> </div>
      <%= f.submit%></div>
  <%end%>
