
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 <!-- Brand -->
 <a class="navbar-brand" href="#"><h3>BookSpace</h3></a>
 <!-- Links -->
 <ul class="navbar-nav">
   <li class="nav-item">
     <a class="nav-link" href="/coworkingspaces/">Home</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Promotions</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Top Rated</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Rent your Space</a>
   </li>
   <!-- Dropdown -->
   <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Coworking Spaces
     </a>
     <div class="dropdown-menu">
       <a class="dropdown-item" href="#">Desks</a>
       <a class="dropdown-item" href="#">Rooms</a>
       <a class="dropdown-item" href="#">Open Space</a>
     </div>
   </li>
  </ul>
  </nav>

  <%= form_for @coworkingspace do |f| %>
      <%= image_tag @coworkingspace.pic, class: "my_pic" %>
      <div class = "post_text"> <b> Edit Coworking Space</b>
      <div> Name: <%= f.text_field :name %> </div>
      <div> Image: <%= f.file_field :pic %> </div>
      <div> Address: <%= f.text_area :address %> </div>
      <div> City: <%= f.text_field :city %> </div>
      <div> Amount of Spaces: <%= f.text_field :spaces_qty %> </div>
      <%= f.submit%></div>
  <%end%>
