<div class="jumbotron">
  <div class="d-flex justify-content-center">
    <div><%= image_tag @coworkingspace.pic, class: "header_image" %></div>
  </div>
</div>

    <div class="d-flex justify-content-center">
      <div class="row">
       <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><image href="https://www.spacesworks.com/wp-content/uploads/2018/01/Spaces-Hofplein-Rotterdam-dedicated-desk-coworking-interior-design-1-720x800.jpg" width="100%" height="100%" </svg>
            <div class="card-body">
              <p class="card-text">Desks</p>
              <p class="card-text">Available: <%=@coworkingspace.rooms.where(:types_of_spaces =>"Desk", available: true).count  %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group btn-group-justified">
                  <button type="button" class="btn btn-primary"><%= button_to "Book", "/coworkingspaces/#{@coworkingspace.id}/reservations/new", :method => "get", params: { :types_of_spaces => "Desk"}, class: "btn btn-primary"  %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><image href="https://solutions.rent/wp-content/uploads/2019/11/coworking-warszawa.jpg" width="100%" height="100%" </svg>
            <div class="card-body">
              <p class="card-text">Open Space</p>
              <p class="card-text">Available: <%=@coworkingspace.rooms.where(:types_of_spaces =>"Open Space", available: true).count  %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group btn-group-justified">
                  <button type="button" class="btn btn-primary"><%= button_to "Book", "/coworkingspaces/#{@coworkingspace.id}/reservations/new", :method => "get", params: { :types_of_spaces => "Open Space"}, class: "btn btn-primary" %></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><image href="https://i.pinimg.com/originals/98/bc/97/98bc9721544398ae4844c4a718efaf3c.jpg" width="100%" height="100%" </svg>
            <div class="card-body">
              <p class="card-text">Meeting Rooms</p>
              <p class="card-text">Available: <%=@coworkingspace.rooms.where(:types_of_spaces =>"Meeting Room", available: true).count  %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group btn-group-justified">
                  <button type="button" class="btn btn-primary"><%= button_to "Book", "/coworkingspaces/#{@coworkingspace.id}/reservations/new", :method => "get", params: { :types_of_spaces => "Meeting Room"}, class:"btn btn-primary"  %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
 </div>
<% if current_user == @coworkingspace.user %>
<div class = "card-text text-center"><p><h1><b>Manage Your Space</b></h1><p></div>
<div class = "container margin-top:50px;">
  <div class = "card-text text-center"><h3> Reserved Rooms </h3></div>
    <div class = "container-fluid">
      <div class="row mb-3 shadow-lg">
        <div class="col-4 themed-grid-col text-center"><h6><b>Desks</b></h6></div>
        <div class="col-4 themed-grid-col text-center"><h6><b>Open Spaces</b></h6></div>
        <div class="col-4 themed-grid-col text-center"><h6><b>Meeting Rooms</b></h6></div>
        <div class="col-4 themed-grid-col text-center"> <%= @coworkingspace.rooms.where(:types_of_spaces => "Desk", available: false).count %></div>
        <div class="col-4 themed-grid-col text-center"> <%= @coworkingspace.rooms.where(:types_of_spaces => "Open Space", available: false).count %></div>
        <div class="col-4 themed-grid-col text-center"><%= @coworkingspace.rooms.where(:types_of_spaces => "Meeting Room", available: false).count %></div>
      </div>
    </div>
  <div class = "card-text text-center"><h3> Reservations Tracker</h3></div>
    <div class = "container-fluid">
      <div class="row mb-3 shadow-lg">
        <div class="col-4 themed-grid-col text-center "> <h6><b> Room </b></h6></div>
        <div class="col-4 themed-grid-col text-center "><h6><b> Start Date</b></h6> </div>
        <div class="col-4 themed-grid-col text-center "><h6><b> End Date </b></h6></div>
        <p><% @coworkingspace.rooms.order(:types_of_spaces).each do |space| %> </p>
          <%if space.reservations != [] %>
            <div class="col-4 themed-grid-col text-center "><%= "#{space.types_of_spaces} #{space.id}" %> </div>
            <div class="col-4 themed-grid-col text-center "><%= "#{space.reservations.last.reservation_start.strftime("%B %d %Y")}"%> </div>
            <div class="col-4 themed-grid-col text-center "><%="#{space.reservations.last.reservation_end.strftime("%B %d %Y")}" %> </div>
            <%end%>
        <%end%>
      <%end%>
      </div>
  </div>
</div>
