<div class="card"><%= image_tag @coworkingspace.pic, class: "card-img-top" %></div>
<p>Name: <%= @coworkingspace.name %></p>
<p>Address: <%= @coworkingspace.address %></p>
<p>City: <%= @coworkingspace.city %></p>
<p><%= @coworkingspace.spaces_qty %> spaces available</p>
<% if current_user == @coworkingspace.user %>
  <%= button_to "Delete", @coworkingspace, method: :delete %>
  <%= button_to "Edit This Post", "/coworkingspaces/#{@coworkingspace.id}/edit", :method => "get" %>
<%end%>
